{% extends "./base/base.html" %}
<!--  -->
{% block title %} probando for e if {% endblock%}
<!--  -->

{% macro item_list(id, name, anos, ciudad) %}
<li>
  <ol>
    <li>{{ id }}</li>
    <li>{{ name }}</li>
    <li>{{ anos }}</li>
    <li>{{ ciudad }}</li>
    <li><a href="/delete/{{ id }}">BORRAR</a></li>
  </ol>
</li>
{% endmacro %} {% block content %}
<h1>crear</h1>
<form action="{{ url_for('create') }}" method="POST">
  <div class=""><input type="text" name="msg" placeholder="nombre" /></div>
  <div class=""><input type="date" name="fecha" placeholder="anos" /></div>
  <div class=""><input type="text" name="img" placeholder="ciudad" /></div>
  <button type="submit">crear mensaje</button>
</form>

<h1>editar</h1>
<form action="{{ url_for('update') }}" method="POST">
  <div class=""><input type="text" name="id" placeholder="id" /></div>
  <div class=""><input type="text" name="msg" placeholder="nombre" /></div>
  <div class=""><input type="date" name="fecha" placeholder="anos" /></div>
  <div class=""><input type="text" name="img" placeholder="ciudad" /></div>
  <button type="submit">actualizar informacion</button>
</form>

<ul>
  {% for item in items %}
  <!--  -->
  {{ item_list( item[0], item[1]|upper, item[2], item[3] ) }}
  <!--  -->
  {% endfor %}
</ul>
{% endblock %}
